<dom-module id="author-page">
  <style is="custom-style">
    .meta {
      color: gray;
    }
  </style>
  <template>
    <div class="bubble">
      <h1>[[resp.name]]</h1>
      <p><h3>About me:</h3> [[resp.desc]]</p>
      <h2>Comics collections:</h2>
      <p> [[resp.comic]]</p>
      <template is="dom-repeat" items="[[resp.strips]]">
        <div>
          <a href="[[comicURL(item.comic)]]">[[item.comic.title]]</a> /
          <a href="[[stripURL(item.comic, item)]]">[[item.title]]</a>
          <div class="meta">
            Last updated: <span>[[item.date]]</span>
            <span>[[resp.numStrips]]</span> strips
          </div>
          <hr>
        </div>
      </template>
    </div>

    <div class="comment-bubble">
      <comment-box url="[[commentURL(params.author)]]" comments="{{resp.comments}}"></comment-box>
    </div>

    <iron-ajax auto
             url="[[url(params.author)]]"
             handle-as="json"
             last-response="{{resp}}"></iron-ajax>
  </template>
</dom-module>
<script src="author-page.js"></script>
