<dom-module id="new-page">
  <style is="custom-style">
    [hidden] {
      display: none;
    } 
    h3 {
      text-align: center;
    }
  </style>
  <template>
    <div class="bubble">
    <div hidden$="[[!contributor(userDetails)]]">
      <h1>Create New Comic</h1>
        <h2>New Comic</h2>
        <form is="iron-form" id="form" method="post" action="/api/comic/" on-iron-form-response="submitted">
          <paper-input name="title" label="Comic Name" required auto-validate></paper-input>
          <paper-button on-tap="create" raised>Create Comic</paper-button>
        </form>
        <h2>New Strip</h2>
        <a href="/new/draw"><paper-button>Draw my comic</paper-button></a>
        <a href="/mycomics"><paper-button>upload my comic</paper-button></a>
    </div>
      <template is="dom-if" if="[[!contributor(userDetails)]]">
        <h3>Sorry, you need to be a contributor.</h3>
      </template>
    </div>
    
    <iron-ajax auto
             url="/api/currentUser/"
             handle-as="json"
             last-response="{{userDetails}}"></iron-ajax>
  </template>
</dom-module>
<script src="new-page.js"></script>
