<dom-module id="comics-page">
  <style is="custom-style">
    .meta {
      color: gray;
    }
    .bubble{
      width: 1250px;
      margin-left: -22%;
    }
    @media (max-width: 1250px) {
      .bubble {
        margin-left: 0;
        width: 100%;
      }
    }
    .grid-item{
      width: 20%;
      padding: 10px;
      border-radius: 13px;
      border: 2px solid black;
      margin: 10px;
      font-size: 16px;
      display: inline-block;
      transition: all 0.25s;
      background-color: white;
    }
    .grid-item:hover{
      transform: scale(1.05,1.05);
    }
    a{
      color: black;
    }
    paper-input {
      display: inline-block;
      float: right;
    }
  </style>

  <template>
    <lunr-js
         data="[[resp]]"
         search="{{search}}"
         fields='["title"]'
         output="{{filtered}}" >
    </lunr-js>
    <div id="comiclist">
      <div class="bubble">
        <h1>All Comics <paper-input value="{{search}}" label="Search"></paper-input></h1>
        <template is="dom-repeat" items="[[results(search, filtered, resp)]]" sort="sort">
          <div class="grid-item">
            <a href="[[comicURL(item)]]">[[item.title]]</a>
            <a href="[[stripURL(item, item.latestStrip)]]">[[item.latestStrip.title]]</a>
            <div class="meta">
              Last updated: <span>[[item.date]]</span>
              | <span>[[item.numStrips]]</span> strips
            </div>
          </div>
        </template>
      </div>
    </div>

    <iron-ajax auto
             url="/api/comic/"
             handle-as="json"
             last-response="{{resp}}"></iron-ajax>

  </template>
</dom-module>
<script src="comics-page.js"></script>
