<dom-module id="comment-box">
  <style is="custom-style">
    paper-input {
      color: black;
    }
    hr{
      border: 3px solid black;
      border-radius: 26px;
    }
    p{
      font-size: 20px;
    }
    #header{
      color:gray;
    }
  </style>
  <template>
    <h2>Comments</h2>
    <hr>
    <form is="iron-form" id="form" method="post" on-iron-form-response="resp" on-iron-form-error="err" action="[[url]]" hidden$="[[!userDetails.name]]">
      <paper-input name="comment" label="Comment"></paper-input>
      <paper-button on-tap="submit" raised>Comment</paper-button>
    </form>
    <template is="dom-repeat" items="[[comments]]">
      <div>
        <div id="header">
        <hr>
          <a href="[[authorURL(item.author)]]">[[item.author.name]]</a>
          | <span>[[item.votes]]</span> points
          | <span>[[item.date]]</span>
        </div>
        <vote-box url="[[voteURL(item)]]" votable="{{item}}"></vote-box>
        <p>[[item.body]]</p>
      </div>
    </template>

    <iron-ajax auto
             url="/api/currentUser/"
             handle-as="json"
             last-response="{{userDetails}}"></iron-ajax>
  </template>
</dom-module>
<script src="comment-box.js"></script>
