<dom-module id="profile-page">
<style is="custom-style">
  paper-input{
    --paper-input-container-input-color: black;  
  }
  paper-checkbox{
    --paper-checkbox-label-color:black;	
    --paper-checkbox-unchecked-color:black;	
  }
  .right {
    float: right;
  }
  .bubble{
    padding-bottom: 45px;
  }
</style>
  <template>
    <div class="bubble">
    <h1>Welcome back, [[userDetails.name]]!</h1>
    <form is="iron-form" id="editUser" method="post" action ="/profile">
      <paper-input label="Email" id="email" name="email" value={{userDetails.email}} disabled></paper-input>
      <paper-input label="Name" id="name" name="name" value ={{userDetails.name}}></paper-input>
      <paper-input label="Describe yourself!" id="desc" name="desc" value={{userDetails.desc}}></paper-input>
      <paper-input char-counter minlength="8" label="Enter old password to confirm update, new password if you wish to change" id="password" name="password" type ="password" required ></paper-input>
      <paper-input label="Type your password from above again" name="confirmPassword" id="confirmPassword" type="password"required></paper-input>
      <paper-button class="right" id="button" onclick="clickHandler(event)">Edit</paper-button>
    </form>
    </div>
    <paper-toast id='toast' text="Edit your personal information here!" opened duration="0"></paper-toast>
    <paper-toast id='toastNotMatch' text="Password do not match" duration="0"></paper-toast>
    <script>
      function clickHandler(event) {
        Polymer.dom(event).localTarget.parentElement.submit();           
      }
      document.getElementById('editUser').addEventListener('iron-form-response', function(event) {
        window.location = "/";
      });
      document.getElementById('editUser').addEventListener('iron-form-error', function(event) {
        toastNotMatch.open();
      });
    </script>
  <iron-ajax auto
             url="/api/currentUser/"
             handle-as="json"
             last-response="{{userDetails}}"
             id="userDetails"></iron-ajax>
  </template>
  <script>
    function clickHandler(event) {
      Polymer.dom(event).localTarget.parentElement.submit();           
    }
    document.getElementById('editUser').addEventListener('iron-form-response', function(event) {
      window.location = "/";
    });
    document.getElementById('editUser').addEventListener('iron-form-error', function(event) {
      toastNotMatch.open();
    });
  </script>
</dom-module>
<script src="profile-page.js"></script>
