<dom-module id="editcomics-page">
  <template>
  <div class="bubble">
  <div hidden$="[[!contributor(userDetails)]]">
    <h1>[[resp.title]]</h1>

    <form is="iron-form" id="updateform" method="post" action= "[[url(params.strip)]]" on-iron-form-response="updated">
      <paper-input name="img" type="file" multiple label="Upload comics"></paper-input>
      <input name='filename' hidden></input>
      <input name='filestring' hidden></input>
      <paper-button name="save" on-tap="save" raised>Save</paper-button>
      <paper-toast id="toast0" text="placeholder"></paper-toast>
      <div id="toastarea"></div>
    </form>    

    <form is="iron-form" id="deleteform" method="delete" action="[[url(params.strip)]]" on-iron-form-response="removed">
      <paper-button name="delete" on-click="deleteconfirm" raised>Delete</paper-button>
      <paper-toast id="deletetoast" text="Confirm delete comic (will delete all comicstrips it contains)" duration="0">
      <paper-button on-tap="delete" raised>Delete</paper-button>
      <paper-button on-tap="lowertoast" raised>Just kidding!</paper-button>
      </paper-toast>
    </form>

    <template is="dom-repeat" items="[[resp]]" id="editcomicstrips">
      <editcomic-strip strip="{{item}}"></editcomic-strip>
    </template>

    <template is="dom-if" if="[[!contributor(userDetails)]]">
      <h3>Sorry, you need to be a contributor.</h3>
      </template>
  </div>

    <iron-ajax auto
          url="[[url(params.strip)]]"
          handle-as="json"
          last-response="{{resp}}"></iron-ajax>

  </template>
</dom-module>
<script src="editcomics-page.js"></script>