
<dom-module id="main-app">
  <style is="custom-style">
    :root {
      --primary-text-color: black;
      font-family: 'Bangers';
    }
    :host {
      @apply(--paper-font-common-base);
    }
    paper-header-panel .paper-header {
      background-color: rgba(0,0,0,0.8);
      height: 60px;
      font-size: 20px;
      line-height: 60px;
      padding: 60px;
      margin-top: 30px;
      color: white;
    }
    paper-header-panel .content {
      padding: 20px;
      max-width: 900px;
      margin: 0 auto;
      transition: all 1s ease-in;
    }
    paper-button {
      font-family: 'Bangers';
      line-height: initial;
      margin-top: 10px;
      color: white;
    }
    paper-icon-button {
      margin-top: 10px;
    }
    paper-toast {
      background-color: white;
      color:  #3d3d5c;
    }
    /deep/ a.inherit {
      text-decoration: inherit;
      color: inherit;
      transition: all 1s;
    }
    .right {
      float: right;
    }
    #searchIcon{
      color: white;
      transition: all 0.25s;
    }
    .title {
      padding: 0.8em 0.57em;
      font-family: 'Bangers';
      font-size: 30px;
      color: white;
    }
    .title:hover, paper-button:hover, #searchIcon:hover{
      color: yellow;
    }
    lazy-pages {
      overflow: visible !important;
    }
  </style>
  <template>
    <paper-header-panel mode="scroll" class="orange">
      <div class="paper-header">
        <a href="/" class="title inherit">
          Waffles - Comic Book App.
        </font></a>
        <a href="/popular" class="inherit">
          <paper-button>
            Popular
          </paper-button>
        </a>
        <a href="/comics" class="inherit">
          <paper-button>
            Comics
          </paper-button>
        </a>
        <a href="/authors" class="inherit">
          <paper-button>
            Authors
          </paper-button>
        </a>
        <a href="/new" class="inherit">
          <paper-button>
            New
          </paper-button>
        </a>
        <form is="iron-form" id="logout" name="logout" action= "/logout" method="post" class="right">
          <template is="dom-if" if="[[userDetails]]">
            <paper-button id="logout-button" onclick="clickHandler(event)">Log out</paper-button>
          </template>
        </form>
        <template is="dom-if" if="[[userDetails]]">
          <a href="/profile" class="inherit">
            <paper-button name="profile" id="profile-button" class="right">
              Hello, [[userDetails.name]]
            </paper-button>
          </a>
          </template>
        <template is="dom-if" if="[[!userDetails]]">
          <a href="/login" class="inherit">
            <paper-button class="right" id = "loginButton">
              Login
            </paper-button>
          </a>
          <a href="/signup" class="inherit">
            <paper-button class="right" id='signupbutton'>
              Sign up
            </paper-button>
          </a>
        </template>
      </div>
      <div class="content">
        <lazy-pages attr-for-selected="data-route" selected="{{route}}">
          <template is="dom-if" restamp data-route="home">
            <home-page></home-page>
          </template>
          <template is="dom-if" restamp data-route="comic-overview">
            <comic-overview-page params="[[params]]"></comic-overview-page>
          </template>
          <template is="dom-if" restamp data-route="comic">
            <comic-page params="[[params]]"></comic-page>
          </template>
          <template is="dom-if" restamp data-route="comics">
            <comics-page></comics-page>
          </template>
          <template is="dom-if" restamp data-route="author">
            <author-page params="[[params]]"></author-page>
          </template>
          <template is="dom-if" restamp data-route="authors">
            <authors-page id="test"></authors-page>
          </template>
          <template is="dom-if" restamp data-route="new">
            <new-page></new-page>
          </template>
          <template is="dom-if" restamp data-route="signup">
            <signup-page></signup-page>
          </template>
          <template is="dom-if" restamp data-route="profile">
            <profile-page></profile-page>
          </template>
          <template is="dom-if" restamp data-route="login">
            <login-page></login-page>
          </template>
          <template is="dom-if" restamp data-route="mycomics">
            <mycomics-page></mycomics-page>
          </template>
          <template is="dom-if" restamp data-route="editcomics">
            <editcomics-page params="[[params]]"></editcomics-page>
          </template>
          <template is="dom-if" restamp data-route="draw">
            <draw-page></draw-page>
          </template>
          <template is="dom-if" restamp data-route="popular">
            <popular-page></popular-page>
          </template>
          <template is="dom-if" restamp data-route="not-found">
            <not-found-page url="[[path]]"></not-found-page>
          </template>
        </lazy-pages>
      </div>
    </paper-header-panel>
    <paper-toast id='logoutToast' name='logoutToast' text="Logged Out" duration="0"></paper-toast>

    <iron-ajax id="userDetails" auto
             url="/api/currentUser/"
             handle-as="json"
             last-response="{{userDetails}}"></iron-ajax>
    <script>
      function clickHandler(event){
        Polymer.dom(event).localTarget.parentElement.submit();
      }
    </script>
  </template>
</dom-module>
<script src="main-app.js"></script>
