<script src="../bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
<script src="../bower_components/page/page.js"></script>

<script src="../bower_components/socket.io-client/socket.io.js"></script>
<script src="../bower_components/jsondiffpatch/public/build/jsondiffpatch.min.js"></script>

<script src="../bower_components/jquery/dist/jquery.min.js"> </script>
<script src="../bower_components/masonry/dist/masonry.pkgd.min.js"></script>

<script src="../shared/interfaces.js"></script>
<script src="../shared/util.js"></script>
<script src="../shared/loading.js"></script>
