<dom-module id="home-page">
  <style>
    .link {
      border-radius: 2px;
      color: rgba(0,0,0,1.0);
      border: thin dashed black;
      display: inline-block;
      padding: 15px;
    }
    .link-container {
      text-align: right;
    }
    .link:hover{
      background-color: lightgray;
    }
  </style>
  <template>
    <div class="bubble">
      <h1>Welcome to Waffles!</h1>
      <p>This is a comic book app where you can draw and share your creations with others! Feel free to browse through our amazing collections, and even sign up to either be a regular viewer or a contributor. As a viewer you can provide feedbacks to existing comics, however only contributors can draw!<br><br> You can also choose to log in through Facebook, but your profile won't be saved and you can only comment and like comics!</p>
      <div class="link-container">
        <template is="dom-if" if="[[!userDetails]]">
          <a href='/signup' class='link'>GET STARTED NOW!</a>
        </template>
        <a href='/new' class='link'>START DRAWING NOW!</a>
      </div>
    </div>
    <iron-ajax auto
             url="/api/currentUser/"
             handle-as="json"
             last-response="{{userDetails}}"></iron-ajax>
  </template>
</dom-module>
<script src="home-page.js"></script>
