<dom-module id="mycomics-page">
  <template>
  <div class="bubble">
  <div hidden$="[[!contributor(userDetails)]]">
  <h1>My Comic Strips</h1>

<!-- 	<paper-button on-click="toggle">Sort by date, filter</paper-button>
    <iron-collapse id="filtersort">
      <div class="content">
        <div>Filters, title, upload dates</div>
      </div>
    </iron-collapse> -->

    <br><br>

    <template is="dom-repeat" items="[[resp]]" id="listMycomics">
      <div><table><tr>
        <td><span id="[[item.title]]"><a href="[[editURL(item.title)]]">[[item.title]]</a></span><td>
        <td><span>[[item.date]]</span><td>
        <td><span>[[item.desc]]</span><td>
        <td><a href="[[editURL(item.title)]]"><paper-button raised>Edit</paper-button></a><td>
        <br>      
      </tr></table></div>
    </template>

    </div>
  <template is="dom-if" if="[[!contributor(userDetails)]]">
      <h3>Sorry, you need to be a contributor.</h3>
  </template>
  
</div>

    <iron-ajax auto
             url="/api/mycomics/"
             handle-as="json"
             last-response="{{resp}}"></iron-ajax>

  </template>
</dom-module>
<script src="mycomics-page.js"></script>